* , ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

:root{
    --color--text: #151515;
    --color--primary: #edb9ff;
    --color--primary--dark: #8f14af;
}

body{
    color: var(--color--text);
    font-size: 1.8rem;
    background-color: #ededed;
}

h1{
    color: var(--color--text);
    font-size: 5rem;
}

h2{
    color: var(--color--text);
    font-size: 3.5rem;
}

h3{
    color: var(--color--text);
    font-size: 2.5rem;
}

@media  screen and (max-width: 800px){
    body{
        font-size: 1.2rem;
    }

    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.5rem;
    }

}

a{
    color: var(--color--text);
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    color: var(--color--primary);
}

li , ul{
    list-style: none;
}

button{
    border: none;
    background: none;
    text-decoration: none;
    cursor: pointer;

}

svg{
    cursor: pointer;
}


.hidden{
    display: none;
}


/*header*/
.header__container{
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
    align-items: center;
    background-color: var(--color--primary);
    height: 7rem;

}


.header__hamburger{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.header__hamburger div{
    background-color: var(--color--primary--dark);
    width: 2.5rem;
    height: 0.2rem;

}

.header__title h3{
    color: var(--color--primary--dark);
}

.header__cart-icon{
    position: relative;
    cursor: pointer;
}

.header__cart-count{
    position: absolute;
    top: -0.5rem;
    left: 1.4rem;
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.header__cart-svg{
    width: 2.4rem;
    height: 2.4rem;
}

@media(max-width:768px){
    .header__container{
        padding: 0 1rem;
    }
}

/*products*/

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
    row-gap: 5rem;
    margin-top: 10rem;
    padding: 0 5rem;
}


.products__card{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #fff;
    border-radius: 1rem;
    width: 35rem;
    padding: 2rem;
}


.products__card button{
    background-color: var(--color--primary);
    color: var(--color--primary--dark);
    width: 11rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    align-self: center;
    cursor: pointer;
}

.card__description{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.backdrop{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 6, 78, 0.5);
    backdrop-filter: blur(8px);
    z-index: 1;
}

@media(max-width:1024px){
    .products{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

@media(max-width:700px){
    .products{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 0;
    }
}


/*modal*/


.modal__card{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    background-color: #fff;
    width: 70rem;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    padding: 1rem 2rem;
    z-index: 2;
}

.modal__title{
    align-self: center;
}

.modal__products{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.modal__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__content img{
    width: 10rem;
    height: 10rem;
}

.modal__content svg{
    width: 2rem;
    height: 3rem;
}

.modal__cart-svg{
    margin-right: 0.4rem;
}

.modal__cart-svg-reverse{
    margin-left: 0.2rem;
}

.rotate{
    transform: rotate(180deg);
    transform-origin: center;
}

.modal__description{
    display: flex;
    flex-direction: column;
}

.modal__count{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.modal__total{
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.modal__total--buttons button{
    background-color: white;
    color: var(--color--primary--dark);
    border:1px solid var(--color--primary--dark);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
}

.modal__total--buttons{
    display: flex;
    gap: 1rem;
}

@media(max-width:1024px){
    .modal__card{
        width: 57rem;

    }
}

@media(max-width:768px){
    .modal__card{
        width: 30rem;

    }
}




/*div{*/
/*    border: 1px solid var(--color--text);*/
/*}*/