* , ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

:root{
    --color--text: #151515;
    --color--primary: #edb9ff;
    --color--primary--dark: #8f14af;
}

body{
    color: var(--color--text);
    font-size: 1.8rem;
    background-color: #ededed;
}

h1{
    color: var(--color--text);
    font-size: 5rem;
}

h2{
    color: var(--color--text);
    font-size: 3.5rem;
}

h3{
    color: var(--color--text);
    font-size: 2.5rem;
}

a{
    color: var(--color--text);
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    color: var(--color--primary);
}

li , ul{
    list-style: none;
}

button{
    border: none;
    background: none;
    text-decoration: none;

}



/*header*/
.header__container{
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
    align-items: center;
    background-color: var(--color--primary);
    height: 7rem;

}


.header__hamburger{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.header__hamburger div{
    background-color: var(--color--primary--dark);
    width: 2.5rem;
    height: 0.2rem;

}

.header__title h3{
    color: var(--color--primary--dark);
}

.header__cart-icon{
    position: relative;
}

.header__cart-count{
    position: absolute;
    top: -0.5rem;
    left: 1.4rem;
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.header__cart-svg{
    width: 2.4rem;
    height: 2.4rem;
}

/*products*/

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
    row-gap: 5rem;
    margin-top: 10rem;
    padding: 0 5rem;
}


.products__card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    width: 35rem;
}

.products__card img{

}

.card__description{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}